/* --------------desktop mode--------------- */
/* general features */
body {
    background-image: url("assets/bg-main-desktop.png");
    max-width: 1440px;
    /* min-width: 400px; */
    max-height: 1945px;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: auto;

}

main {

    position: relative;
    margin: 62px 165px;
}


/* -----top header style-----  */
/* equalizer logo div */
#logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* equalizer logo height above top section */
#top-logo {
    height: min-content;
}

/* figma svg div */
#figma-div {
    position: absolute;
    width: 312px;
    top: -300%;
    right: -14.9%;
}

/* top section */
/* top section div */
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    margin-top: 221px;
}

/* large text */
.top h1 {
    font-size: 60px;
    font-weight: bold;

    margin-bottom: 0px;
    line-height: 1;

    /* small text */
}

.top p {
    margin-bottom: 45%;
}



/* ----- mid-section style ----- */
/* mid section div */
.mid {
    width: 1110px;
    max-width: 100%;
    position: relative;
    height: 600px;
    background-color: black;
    border-radius: 10px;
}

/* phone image */
#phone {
    position: absolute;
    width: 312px;
    height: 642px;
    margin-left: 110px;
    bottom: 30%;
    z-index: 2;
}

/* fimga image 2 */
#figma2 {
    position: absolute;
    margin-left: 30.27%;
    top: -6.66%
}

/* orange-card content */
.orange-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 446px;
    height: 625px;
    position: absolute;
    background-color: #FA7453;
    z-index: 3;
    border-radius: 10px;
    top: 15%;
    left: 50%
}

/* card div */
.orange-card #card {
    width: 75.78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;

    color: #ffffff;
}

/* card div text */
/* text */
.orange-card #card h2 {
    width: 100%;
    font-size: 40px;
    margin-top: 15%;
    margin-bottom: 0px;
}

.orange-card #card p {
    line-height: 1.8;
    font-size: 18px;
}

.orange-card #card #price {
    display: flex;
    align-items: center;
    height: fit-content;
}

.orange-card #price h2 {
    font-size: 65px;
    margin: 0px;
    margin-right: 15px;
    margin-bottom: 20%;
}

/* card div button */
.orange-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 60px;
}

.orange-card button img {
    padding-right: 10px;
}

/* apple button */
.orange-card #apple-btn {
    background-color: #000000;
    color: #ffff;
    border-color: #000000;
    margin-bottom: 20px;
}

/* active(hover) state */
.orange-card #apple-btn:hover {
    background-color: #66E2DC;
    border-color: #66E2DC;
    cursor: pointer;
}

/* android button */
.orange-card #android-btn {
    background-color: #ffff;
    color: #000000;
    border-color: #ffff;
}

/* active(hover) state */
.orange-card #android-btn:hover {
    background-color: #FFB964;
    border-color: #FFB964;
    cursor: pointer;
}


/* ----- lower part of the page (footer) -----  */

footer {
    margin-top: 202px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* equalizer image in footer */
footer img {
    height: fit-content;
}

/* copy right text in footer */
footer p {
    width: 366px;
    min-width: 327px;
    margin-top: 0px;
}

/* social media logos #media-div */
footer #media-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

/* footer image active state */
footer #media-div svg:hover {
    cursor: pointer;
    fill: #FA7453;
}



/* ----------tablet mode----------------- */
@media (max-width: 768px) {

    /* --------------desktop mode--------------- */
    /* general features */
    body {
        background-image: url(assets/bg-main-tablet.png);
        max-width: 768px;
        max-height: 1781px;
        justify-content: center;
    }

    main {
        position: relative;
        margin: 62px 39px;
    }

    main #top-logo {
        margin-bottom: 95px;
    }

    /* figma svg div */
    #figma-div {
        position: absolute;
        width: 266.67px;
        height: 400px;
        top: -90%;
        right: -2%;
    }

    #figma-div img {
        width: 100%;
    }

    /* top section */
    /* top section div */
    .top {
        margin-top: 0px;
        padding-right: 170px;
    }

    .top h1 {
        margin: 0px;
    }


    /* ----- mid-section style ----- */
    /* phone image */
    #phone {
        position: absolute;
        width: 270px;
        height: 556px;
        margin-left: 64px;
    }

    /* fimga image 2 */
    #figma2 {
        width: 280px;
    }

    /* orange-card content */
    .orange-card {
        width: 399px;
        height: 546px;
        left: 35%;
        top: 25%;

    }

    /* card div */
    .orange-card #card {
        width: 75.78%;
        margin: 54px;
    }

    .orange-card #card h2 {
        font-size: 32px;
        margin-top: 0px;
    }

    /* price text */
    .orange-card #card #price h2 {
        font-size: 70px;
        margin: 0px;
        margin-right: 15px;
    }

    .orange-card #apple-btn {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /* ----- lower part of the page (footer) -----  */
    footer {
        position: relative;
        padding-top: 32px;
    }

    footer img {
        position: absolute;
        padding-top: 10px;
        height: fit-content;
        bottom: 100%;
    }

    /* copy right text in footer */
    footer p {
        width: 366px;
        min-width: 327px;
    }
}



/* ----------mobile phone mode----------------- */
@media (max-width: 375px) {

    /* --------------desktop mode--------------- */
    /* general features */
    body {
        background-image: url(assets/bg-main-mobile.png);
        width: 375px;
        max-height: 1781px;
        justify-content: center;
        margin: auto;
    }

    main {
        position: relative;
        margin: 62px 0px;
    }

    main #top-logo {
        margin-bottom: 95px;
        padding-left: 5%;
    }

    /* figma svg div */
    #figma-div {
        display: none;
    }

    /* top section */
    /* top section div */
    .top {
        width: 100%;
        padding: 0px;
        margin: auto;
        padding-left: 5%;
    }

    .top h1 {
        margin: 0px;
        font-size: 40px;
    }


    /* ----- mid-section style ----- */
    /* phone image */
    #phone {
        position: absolute;
        width: 208px;
        height: fit-content;
        top: -15%;
        margin-left: 25%;
    }

    /* fimga image 2 */
    #figma2 {
        width: 280px;
        margin: 5%;
        left: 10%;
        top: -3%;
    }

    /* orange-card content */
    .orange-card {
        width: 100%;
        height: fit-content;
        left: 0%;
        top: 62%;

    }

    /* ----- lower part of the page (footer) -----  */
    footer {
        width: 100%;
        margin-top: 500px;
        position: relative;
        padding-top: 32px;
    }

    footer img {
        position: absolute;
        padding-top: 10px;
        height: fit-content;
        bottom: 100%;
    }

    /* copy right text in footer */
    footer p {
        width: 366px;
        min-width: 327px;
    }

    /* social media logos #media-div */
    footer #media-div {
        position: absolute;
        top: 130%;
    }
}